/*----------global---------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background-color: rgba(255,255,255,0.5)
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 5% 0px;
    width: 100%;
}

/*---------------body------------*/
.formBox {
    height: 500px;
    width: 330px;
    background: transparent;
    border: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 7px #555555;
    padding: 20px 0px 0px 0px;
}

.logInbox {
    margin-top: 10px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 7px #555555;
}

.logInbox p {
    padding: 20px 0px 0px 0px;
    font-size: 14px;
    color: #555555;
}

.logInbox a {
    text-decoration: none;
    color: #3897f0;
}

.formBox * {
    background: transparent;
    color: gray;
}

.formBox form {
    padding: 10px 0px 0px 0px;
}

.formBox input {
    height: 20px;
    padding: 10px;
    color: gray black;
    box-shadow: 1px 1px 5px #555555;
}

.formBox_h1{
    padding: 10px 0px 0px 0px;
    background-color: transparent;
}

.formBox h1:first-of-type {
    padding: 0px 0px 0px 30px;
    width: 80%;
}

.btnFacebooktotal {
    border-radius: 6px;
    box-shadow: 1px 1px 5px #111111;
    background-color: #3897f0;
    width: 200px;
    height: 28px;
    margin: 15px 0px 0px 60px;
}

.signUpInfo {
    margin-top: 30px;
}

.signUpInfo span {
    font-weight: 800;
}

.signUpInfo p {
    padding: 20px 0px 0px 50px;
    font-size: 15px;
    width: 70%;
}

.btnSignUp {
    box-shadow: 1px 1px 5px #111111;
    border-radius: 6px;
    text-decoration: none;
    background-color: #3897f0;
    font-weight: 800;
    color: white;
    padding: 5px 10px;
}

.btnSignUp:hover {
    background-color: rgba(100, 200, 50, 1);
}

.btnFacebooktotal a {
    text-decoration: none;
    background-color: transparent;
    font-weight: 800;
    color: white;
}

.btnFacebooktotal:hover {
    background-color: rgba(100, 200, 50, 1);
}

.bodyimg {
    float: left;
}

.bodyform {
    float: right;
}

.bodytotal {
    margin: 0px 251px;
}

.getApp {
    margin-top: 30px;
    text-align: center;
}

.getApp img {
    padding: 15px 0px 0px 0px;
}

/*---------------footer---------------*/
footer {
    clear: both;
}

footer a {
    text-decoration: none;
    font-size: 13px;
    padding: 0px 5px;
    font-weight: 800;
}

.footer_menu {
    padding: 35px 0px 0px 160px;
}

footer p {
    margin-left: 1000px;
    margin-top: -15px;
    font-size: 13px;
    color: #555555;
}

footer h3 {
    text-align: center;
    margin-right: 190px;
    color: #555555;
}