* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*-------NAV--------*/
nav {
    background-color: #3B5998;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border-bottom: 1px solid #111111;
}

nav img {
    width: 27%;
    margin-left: 150px;
    margin: 15px 0px 0px 150px;
}

.nav-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav-form1 {
    text-align: left;
    color: white;
    font-size: 13px;
    margin-left: 150px;
}

.nav-form1 p {
    padding: 5px 0px;
}

.nav-form1 input {
    border-radius: 0;
    border: 1px solid #111111;
    height: 20px;
    width: 150px;
}

.nav-form2 {
    text-align: left;
    color: white;
    font-size: 13px;
}

.nav-form2 p {
    padding: 5px 0px;
}

.nav-form2 input {
    border-radius: 0;
    border: 1px solid #111111;
    height: 20px;
    width: 150px;
}

.login-btn {
    text-decoration: none;
    background: #585ABB;
    border: 1px solid #182554;
    border-radius: 2px;
    color: white;
    padding: 4px;
    font-size: 12.3px;
    font-weight: bold;
    margin-left: 10px;
}

.login-btn:hover {
    background: #355899;
}

.forgot-btn {
    text-decoration: none;
    font-size: 13px;
    color: whitesmoke;
}

.forgot-btn:hover {
    text-decoration: underline;
}

/*------BODY-------*/
.body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20%;
    padding: 2% 10%;
    background: #EDF0F5;
}

/*------body left side------*/
.body-about {
    font-size: 10.5px;
    text-align: left;
}

.body-about span{
    color: #333333;
}

.body-about h1 {
    font-size: 27px;
    color: #333333;
}

.about {
    display: flex;
    color: gray;
    padding: 15px;
}

.about h2 {
    margin: 18px 0px 0px 10px;
}

/*------body right side------*/
.signup {
    color: gray;
}

.signup form {
}

.signup h1{
    font-size: 35px;
    color: #333333;
}